.alert-card{

background:rgba(18,25,45,.9);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

padding:25px;

transition:.4s;

display:flex;

flex-direction:column;

gap:18px;

box-shadow:0 10px 25px rgba(0,0,0,.35);

}

.alert-card:hover{

transform:translateY(-8px);

box-shadow:0 0 35px rgba(123,47,247,.35);

border-color:#7B2FF7;

}

.card-header{

display:flex;

justify-content:space-between;

align-items:center;

}

.severity{

display:flex;

align-items:center;

gap:8px;

padding:8px 16px;

border-radius:30px;

font-size:14px;

font-weight:600;

color:white;

}

.high{

background:#ff3d3d;

}

.medium{

background:#ff9800;

}

.low{

background:#2ecc71;

}

.alert-type{

background:rgba(255,255,255,.08);

padding:8px 15px;

border-radius:30px;

color:#d8d8d8;

font-size:14px;

}

.alert-card h2{

color:white;

font-size:24px;

margin:0;

}

.description{

color:#b8bfd5;

line-height:1.7;

font-size:15px;

}

.location,
.time{

display:flex;

align-items:center;

gap:10px;

color:#c5c9d8;

font-size:14px;

}

.location svg{

color:#7B2FF7;

}

.time svg{

color:#00c853;

}

.card-buttons{

display:flex;

gap:15px;

margin-top:10px;

}

.edit-btn,
.delete-btn{

flex:1;

padding:12px;

border:none;

border-radius:12px;

font-size:15px;

font-weight:600;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

transition:.3s;

}

.edit-btn{

background:#7B2FF7;

color:white;

}

.edit-btn:hover{

background:#9355ff;

}

.delete-btn{

background:#ff4d4d;

color:white;

}

.delete-btn:hover{

background:#e53935;

}