.footer{

background:#050816;

padding:80px;

color:white;

margin-top:80px;

}

.footer-top{

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:60px;

}

.footer-logo p{

margin-top:20px;

line-height:1.8;

color:#9ea8c3;

}

.footer-links{

display:flex;

flex-direction:column;

gap:15px;

}

.footer-links a{

text-decoration:none;

color:#c3c8d8;

transition:.3s;

}

.footer-links a:hover{

color:#7B2FF7;

}

.footer-contact p{

margin:15px 0;

display:flex;

align-items:center;

gap:10px;

color:#c3c8d8;

}

.socials{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.social-icon{
    width:45px;
    height:45px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#1f2937;

    color:white;

    font-size:22px;

    text-decoration:none;

    transition:.3s ease;
}

.social-icon:hover{

    background:#7B2FF7;

    transform:translateY(-5px);

    box-shadow:0 10px 20px rgba(123,47,247,.4);

}

.socials svg{

cursor:pointer;

transition:.3s;

}

.socials svg:hover{

color:#7B2FF7;

transform:translateY(-5px);

}

.footer hr{

margin:50px 0 30px;

border:none;

height:1px;

background:#222;

}

.copyright{

text-align:center;

color:#777;

}

@media(max-width:900px){

.footer-top{

grid-template-columns:1fr;

}

.footer{

padding:40px 25px;

}

}