body{

margin:0;

background:#050816;

font-family:Poppins,sans-serif;

overflow-x:hidden;

}

body::before{

content:"";

position:fixed;

top:-200px;

left:-200px;

width:500px;

height:500px;

background:#7B2FF7;

filter:blur(180px);

opacity:.18;

z-index:-1;

animation:move1 14s infinite alternate;

}

body::after{

content:"";

position:fixed;

right:-200px;

bottom:-200px;

width:500px;

height:500px;

background:#0099ff;

filter:blur(180px);

opacity:.18;

z-index:-1;

animation:move2 16s infinite alternate;

}

@keyframes move1{

from{

transform:translate(0,0);

}

to{

transform:translate(200px,120px);

}

}

@keyframes move2{

from{

transform:translate(0,0);

}

to{

transform:translate(-150px,-150px);

}

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#080d18;

}

::-webkit-scrollbar-thumb{

background:#7B2FF7;

border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

background:#9856ff;

}