.hero{

width:100%;

min-height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:80px;

background:
radial-gradient(circle at top right,#5d28d844,transparent 40%),
linear-gradient(#060816,#070d20);

overflow:hidden;

}

/* LEFT */

.hero-left{

width:50%;

}

.live-badge{

display:inline-block;

padding:12px 20px;

background:rgba(123,47,247,.15);

border:1px solid rgba(123,47,247,.5);

border-radius:40px;

color:#d3b5ff;

margin-bottom:30px;

font-size:15px;

}

.hero h1{

font-size:75px;

line-height:1.1;

font-weight:700;

color:white;

margin-bottom:25px;

}

.hero h1 span{

color:white;

}

.gradient{

background:linear-gradient(
90deg,
#8b5cf6,
#d946ef
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.hero p{

font-size:20px;

color:#b7bfd4;

line-height:1.8;

max-width:600px;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

gap:20px;

}

/* BUTTON */

.primary-btn{

padding:18px 35px;

background:linear-gradient(
135deg,
#7B2FF7,
#B245FF
);

color:white;

border-radius:15px;

text-decoration:none;

font-size:17px;

display:flex;

align-items:center;

gap:12px;

box-shadow:0 0 30px rgba(123,47,247,.5);

transition:.4s;

}

.primary-btn:hover{

transform:translateY(-5px);

box-shadow:0 0 45px rgba(123,47,247,.8);

}

.secondary-btn{

padding:18px 35px;

border:1px solid rgba(255,255,255,.15);

border-radius:15px;

color:white;

text-decoration:none;

display:flex;

align-items:center;

gap:12px;

transition:.4s;

}

.secondary-btn:hover{

background:white;

color:black;

}

/* RIGHT */

.hero-right{

width:45%;

display:flex;

justify-content:center;

align-items:center;

}

.hero-right img{

width:100%;

max-width:720px;

animation:float 5s ease-in-out infinite;

filter:drop-shadow(0 0 50px rgba(120,70,255,.4));

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0);

}

}

/* Responsive */

@media(max-width:1100px){

.hero{

flex-direction:column;

padding:50px 30px;

text-align:center;

}

.hero-left{

width:100%;

}

.hero-right{

width:100%;

margin-top:40px;

}

.hero-buttons{

justify-content:center;

}

.hero h1{

font-size:55px;

}

}

@media(max-width:650px){

.hero h1{

font-size:42px;

}

.hero p{

font-size:17px;

}

.hero-buttons{

flex-direction:column;

}

}